[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	log = auto
	grep = auto
[alias]
	st = status
	ci = commit
	co = checkout
	d = difftool
	dt = difftool
	br = branch
	ls = log --graph --pretty=format:\"%h <%an> %ar %s\"
[apply]
	whitespace = nowarn
[core]
	editor = vim
[user]
	name = rox
	email = seellk@gmail.com
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = store
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"\n
[merge]
	tool = vimdiff
